/* Footer.css */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  src: url("../../assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins Light";
  font-style: normal;
  font-weight: 300;
  src: url("../../assets/fonts/Poppins-Light.ttf");
}

.footer {
  background-color: #111111;
  padding: 5px 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
}

.footer-logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.loader-image {
  height: 45px; /* Reduced height to match the screenshot */
  width: auto;
}

.logo-text-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.footer-logo-image {
  height: 22px; /* Reduced to match the screenshot but keep sort of in proportion */
  width: auto;
  margin-bottom: 3px;
}

.footer-address {
  font-family: "Poppins Light", sans-serif;
  font-size: 10px; /* Reduced to match the screenshot */
  line-height: 1.2;
}

.footer-address p {
  margin: 0;
  color: white;
}

.footer-phone {
  color: #2fb457 !important;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: 2px !important;
  font-size: 10px; /* Adjusted size to match */
}

/* Responsive design */
@media (max-width: 768px) {
  .footer-logo-container {
    flex-direction: column;
    text-align: center;
  }
  
  .logo-text-container {
    align-items: center;
  }
}